@model GraniteHouse.Models.ViewModels.ShoppingCartViewModel.
@{
    ViewData["Title"] = "Index";
}




<form method="post">
    <br /><br />
    <h2 class="text-info">Your cart</h2>
    <br />
    @if (Model.Products.count > 0)
    {
        <div class="container border border-secondary rounded" style="padding:15px;">
            <div class="row">
                <div class="col-8" style="border-right:1px solid #bbb9b9;">
                    <table class="table table-striped" width="100%">
                        <tr class="table-info">
                            <th style="text-align:center; width:20%"></th>
                            <th style="text-align:center;">
                                <label asp-for="@Model.Products.FirstOrDefault().Name"></label>
                            </th>
                            <th style="text-align:center;"></th>
                            <th style="text-align:center;"></th>
                            <th style="text-align:center;"></th>
                            <th style="text-align:center;"></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }

</form>